<div class="container">
    <div class="text-center mt-5">
        <h1>¡BIENVENIDO A MI EQUIPO MUNDIALISTA!</h1>
        <h5>Te presentamos una página web en la cual podrás armar<br>
            tu equipo mundialista e interactuar con otros usuarios
        </h5>
        <br>
        <h5>Elige una opción:</h5>
        <br/>
        <p>
            <a class="btn btn-danger btn-lg" [routerLink]="['/crearEquipo']" role="button">Nuevo equipo</a>
        </p>

        <br/>

        <p>
            <a class="btn btn-danger btn-lg" [routerLink]="['/miEquipo']" role="button">Mi Equipo</a>
        </p>

        <br/>

        <p>
            <a class="btn btn-danger btn-lg" [routerLink]="['/verEquipos']" role="button">Ver Equipos</a>
        </p>

        <br/>

        <p>
            <a class="btn btn-danger btn-lg" [routerLink]="['/foro']" role="button">Foro</a>
        </p>
    </div>
</div>
